* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.counter-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-heading {
  font-size: 50px;
}

.counter-number {
  font-size: 60px;
}

.counter-button-container {
  display: flex;
  gap: 20px;
}

.counter-btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: #67c9d8;
  cursor: pointer;

  &:hover {
    background-color: #5585b5;
  }
}

